Repository TomMannson/Finject: changes, and which Codecov flags are due for each by the changed paths.
All: finject_lib, finject_generator, finject_flutter

enable coverage report on master
  tool/ci_analize
Due: none

refactor ci script
  .travis.yml
  tool/ci_analize
Due: none

finject_flutter tests
  finject_flutter/test/main_test.dart
  finject_flutter/test/mock.dart
  finject_flutter/test/widget_test_util.dart
  tool/ci_analize
Due: finject_lib, finject_flutter

widget immutability disabled
  finject_flutter/test/main_test.dart
Due: finject_lib, finject_flutter

running flutter tests coverage some refactor in script
  tool/ci_analize
Due: none

finject_flutter tests
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/test/main_test.dart
Due: finject_lib, finject_flutter

optional Inject annotation for only one constructor in Injectable class
  finject_generator/CHANGELOG.md
  finject_generator/lib/src/builders/annotation_analize/finject_analizer.dart
  finject_generator/pubspec.yaml
  finject_generator/test/summary_builder_test.dart
Due: finject_lib, finject_generator

inline injecting and boilerplate reduction in flutter code
  example/lib/main.dart
  finject_flutter/CHANGELOG.md
  finject_flutter/lib/src/finject.dart
  finject_flutter/lib/src/scope_host.dart
  finject_flutter/lib/src/stateful/di_state.dart
  finject_flutter/pubspec.yaml
Due: finject_lib, finject_flutter

new exports
  finject_flutter/lib/finject_flutter.dart
Due: finject_lib, finject_flutter

graph validation implemented, tests added
  finject_generator/lib/src/builders/build_utils.dart
  finject_generator/lib/src/builders/code_info_extraction.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/builders/validation/dependency_bag.dart
  finject_generator/lib/src/json_schema/injector_Info.dart
  finject_generator/pubspec.yaml
  finject_generator/test/di_builder_test.dart
  finject_generator/test/graph_validation_test.dart
  finject_generator/test/summary_builder_test.dart
Due: finject_lib, finject_generator

fomating and code analize fixes
  finject_generator/lib/src/builders/code_info_extraction.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/builders/validation/dependency_bag.dart
Due: finject_lib, finject_generator

graph valitadion across scopes
  example/lib/test.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/builders/validation/dependency_bag.dart
  finject_generator/lib/src/json_schema/injector_Info.dart
  finject_generator/test/graph_validation_test.dart
Due: finject_lib, finject_generator

fixed invalid scoped injections
  example/android/gradlew
  example/build.yaml
  example/ios/Flutter/flutter_export_environment.sh
  example/lib/auth/auth_bloc.dart
  example/lib/auth/auth_cache.dart
  example/lib/auth/login_screen.dart
  example/lib/configuration.dart
  example/lib/infrastructure/auth_service.dart
  example/lib/main.dart
  example/lib/my_feed/my_feed_bloc.dart
  example/lib/my_feed/my_feed_page.dart
  example/lib/test.dart
  example/lib/test2.dart
  example/pubspec.yaml
  finject_flutter/lib/src/builder_inject_host.dart
  finject_flutter/lib/src/finject.dart
  finject_flutter/lib/src/finject_host.dart
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/lib/src/scope_host.dart
  finject_generator/pubspec.yaml
Due: finject_lib, finject_generator, finject_flutter

cleanup code
  finject/test/qualifier_factory_test.dart
  finject/test/qualifiers_test.dart
Due: finject_lib

code style
  finject_flutter/lib/src/builder_inject_host.dart
  finject_flutter/lib/src/flat_inject_host.dart
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/lib/src/scope_host.dart
  finject_flutter/test/main_test.dart
  finject_flutter/test/mock.dart
  finject_flutter/test/widget_test_util.dart
Due: finject_lib, finject_flutter

no sound null safety
  tool/ci_analize
Due: none

dart env changed to stable
  .travis.yml
Due: none

restored command lines for tests
  tool/ci_analize
Due: none

code coverage off, because bug in library
  tool/ci_analize
Due: none

version up
  .travis.yml
  finject/pubspec.yaml
  finject_flutter/pubspec.yaml
  finject_generator/pubspec.yaml
Due: finject_lib, finject_generator, finject_flutter

added changelog
  example/pubspec.yaml
  finject/CHANGELOG.md
  finject_flutter/CHANGELOG.md
  finject_generator/CHANGELOG.md
  finject_generator/pubspec.yaml
Due: finject_lib, finject_generator, finject_flutter

fix version 0.3.3 generator
  example/pubspec.yaml
  finject_generator/CHANGELOG.md
  finject_generator/pubspec.yaml
Due: finject_lib, finject_generator

flutter upgrade
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/example/example/MainActivity.java
  example/ios/Flutter/flutter_export_environment.sh
  example/lib/auth/login_screen.dart
  example/pubspec.yaml
  finject/lib/src/injection_provider.dart
  finject/test/annotations_test.dart
  finject_flutter/lib/src/finject.dart
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/test/mock.dart
  finject_flutter/test/widget_test_util.dart
Due: finject_lib, finject_flutter

build flutter DI for newer flutter
  example/lib/finject_config_backup.dart
  example/pubspec.yaml
  finject/pubspec.yaml
  finject_flutter/lib/src/builder_inject_host.dart
  finject_flutter/lib/src/finject_host.dart
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/pubspec.yaml
  finject_generator/lib/src/builders/annotation_analize/finject_analizer.dart
  finject_generator/lib/src/builders/build_utils.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/builders/validation/dependency_bag.dart
  finject_generator/lib/src/dart_poet_extensions/dependency_spec_ext.dart
  finject_generator/lib/src/dartpoet.dart
  finject_generator/lib/src/json_schema/injector_Info.dart
  finject_generator/lib/src/poet/class_spec.dart
  finject_generator/lib/src/poet/code_block_spec.dart
  finject_generator/lib/src/poet/dart_file.dart
  finject_generator/lib/src/poet/doc_spec.dart
  finject_generator/lib/src/poet/file_spec.dart
  finject_generator/lib/src/poet/meta_spec.dart
  finject_generator/lib/src/poet/method_spec.dart
  finject_generator/lib/src/poet/operator_spec.dart
  finject_generator/lib/src/poet/parameter_spec.dart
  finject_generator/lib/src/poet/property_spec.dart
  finject_generator/lib/src/poet/setter_getter_spec.dart
  finject_generator/lib/src/poet/spec.dart
  finject_generator/pubspec.yaml
  flutter_version
  tool/local_analize
Due: finject_lib, finject_generator, finject_flutter

restored tests
  example/pubspec.yaml
  finject/pubspec.yaml
  finject_flutter/pubspec.yaml
  finject_generator/lib/src/builders/annotation_analize/finject_analizer.dart
  finject_generator/pubspec.yaml
Due: finject_lib, finject_generator, finject_flutter

null safety support
  example/lib/auth/auth_cache.dart
  example/lib/auth/login_screen.dart
  example/lib/finject_config_backup.dart
  example/lib/my_feed/my_feed_page.dart
  example/pubspec.yaml
  finject/lib/src/dependency_fillup_contract.dart
  finject/lib/src/injection_provider.dart
  finject/lib/src/qualifiers.dart
  finject/pubspec.yaml
  finject/test/annotations_test.dart
  finject/test/qualifiers_test.dart
  finject/test/scope_test.dart
  finject_flutter/lib/src/finject.dart
  finject_flutter/lib/src/finject_host.dart
  finject_flutter/lib/src/flat_inject_host.dart
  finject_flutter/lib/src/inject_host.dart
  finject_flutter/lib/src/injection_provider.dart
  finject_flutter/lib/src/scope_host.dart
  finject_flutter/pubspec.yaml
  finject_flutter/test/main_test.dart
  finject_flutter/test/mock.dart
  finject_flutter/test/widget_test_util.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/poet/method_spec.dart
  finject_generator/lib/src/poet/property_spec.dart
  finject_generator/test/di_builder_test.dart
Due: finject_lib, finject_generator, finject_flutter

changed code generation rule for nullable singleton scoped classes
  example/lib/auth/login_screen.dart
  example/lib/infrastructure/auth_service.dart
  finject_generator/lib/src/builders/build_utils.dart
  finject_generator/lib/src/builders/di_code_builder.dart
  finject_generator/lib/src/poet/property_spec.dart
  finject_generator/test/di_builder_test.dart
Due: finject_lib, finject_generator

added github action setup
  .github/workflows/build.yml
Due: none

job changed
  .github/workflows/build.yml
Due: none

removed pedantic dart analize
  finject/analysis_options.yaml
  finject_generator/analysis_options.yaml
Due: finject_lib, finject_generator

added conditional test runner
  .github/workflows/build.yml
Due: none

fixed conditional test runner
  .github/workflows/build.yml
Due: none

Path conditions:
  finject_lib: any of: finject
  finject_generator: any of: finject_generator
  finject_flutter: any of: finject_flutter
